.tableFixHead          { overflow-y: auto; height: 80%; }
.tableFixHead thead th { position: sticky; top: 0; }
#playersTable th     	 { background:#eee; }

/*.ctable table  { border-collapse: collapse; width: 100%; }
.ctable th, td { padding: 8px 16px; }*/
.row.main{ 
margin-top: 90px; }
.ctable {
	margin-top: 50px;
}

.active { background-color: #b3feb1; }
.opponent { background-color: #fc9f7d; }

/*#compareDiv {display: none;}*/

#playersTable thead {cursor: pointer;}
#playersTable tbody tr {cursor: pointer;}

.pickOrderTable tr {
	border-bottom: 1px solid;
}
.pickOrderTable td {
	border: 1px solid;
	padding: 0 5px 0;
}

.queues {
	margin-top:5px;
}

.servers {
	width: 940px;
}

.servers button, .queues button{
	margin: 0 3px 0 3px;
}
/*.rightleft tr td:first-child {
	text-align:right;
}

.rightleft tr td:nth-child(2) {
	text-align:left;
}*/
