.tableFixHead          { overflow-y: auto; height: 80%; }
.tableFixHead thead th { position: sticky; top: 0; }
#playersTable th     	 { background:#eee; }

/*.ctable table  { border-collapse: collapse; width: 100%; }
.ctable th, td { padding: 8px 16px; }*/
.row.main{ 
margin-top: 0px; }
.ctable {
	/*margin-top: 50px;*/
}

.active { background-color: #b3feb1; }
.opponent { background-color: #fc9f7d; }

/*#compareDiv {display: none;}*/

#playersTable thead {cursor: pointer;}
#playersTable tbody tr {
	cursor: pointer;
	line-height:6px;
}
#playersTable th, #playersTable td {
	padding: 6px 6px;
}
#playersTable td:nth-child(5) {background-color: #79ef64;}
#playersTable th:nth-child(5) {background-color: #79ef64;}
#playersTable td:nth-child(6) {background-color: #ef7777;}
#playersTable th:nth-child(6) {background-color: #ef7777;}
#playersTable td:nth-child(7) {background-color: #4cb33a;}
#playersTable th:nth-child(7) {background-color: #4cb33a;}
#playersTable td:nth-child(8) {background-color: #f33f3f;}
#playersTable th:nth-child(8) {background-color: #f33f3f;}

#minMatchesInput {
	width: 50px;
}

.dates {
	margin-top: 10px;
}

.dates input {
	margin-left: 5px;
	margin-right: 5px;
	display:inline-block;
}

input{
	float:right;
}
.pickOrderTable tr {
	border-bottom: 1px solid;
}
.pickOrderTable td {
	border: 1px solid;
	padding: 0 5px 0;
}

.queues {
	margin-top:5px;
}

.btn-container {
	width: 90%;
}

.servers {
	width: 100%;
}

.servers button, .queues button{
	margin: 2px 3px 0 3px;
}

input {
	width:50px;
}
/*.rightleft tr td:first-child {
	text-align:right;
}

.rightleft tr td:nth-child(2) {
	text-align:left;
}*/
