.tableFixHead          { overflow-y: auto; height: 80%; }
.tableFixHead thead th { position: sticky; top: 0; }

/* Just common table stuff. Really. */
table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }
.active { background-color: #b3feb1; }
.opponent { background-color: #fc9f7d; }

#compareDiv {display: none;}

thead {cursor: pointer;}